.descriptionAccomodation{
    padding-top: 20px;
    margin-bottom: 0;
    position:relative;
}
.Image{
    width: 100%;
    border-radius: 25px;
    height: 415px;
    object-fit: cover;
}

.Number {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 300px;
    z-index: 1;
    width: 90%;
}
.Number p{
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -125px;
}


@media screen and (max-width: 768px){
    .descriptionAccommodation{
        height: 255px;
    } 
    
    .Image{
    height: 335px;
    }
    .Number{
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 240px;
    z-index: 1;
    width: 90%;
    }
    .Arrow-Left{
        margin-left: -15px;
    }

    .Arrow-Right{
        margin-right: -15px;
    }
    .Number{
        top: 250px;
    }
}