.descriptionAccomodation{
    margin-bottom: 0;
    padding-top: 20px;
    height: 415px;
}


.AccomodationImage{
    border-radius: 25px;
    height: 415px;
    object-fit: cover;
    width: 100%;
    cursor: pointer;
}
.Number{
    position: relative;
        display: flex;
        justify-content: space-between;
        top: -260px;
        z-index: 1;
        margin-left: 20px;
        margin-right: 20px;
}
.Number p{
    color: white;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -125px;
}


@media screen and (max-width: 768px){
    .descriptionAccommodation{
        height: 255px;
    } 

    .Number{
        top: -260px;
    }
    .Number p{
        bottom: -100px;
    }
    /*.AccomodationImage{
    }*/
}