.containerAccomodation {
    width: 90%;
    margin: 0 auto;
    color: var(--main);    
    margin-bottom: 80px;
    margin-top: 38px;
}

.collapsible-content ul {
    margin: 0;
    padding-top: 20px;
    padding-bottom: 20px;
}

 .titleLocationHostStars {
    display: flex;
    justify-content: space-between;
    color: var(--main);
    margin-bottom: 24px;
}
.titleLocation {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 20px;
    row-gap: 20px;
}
.titleLocation h1 {
    font-size: 36px;
    font-weight: 500;
}

.titleLocation p {
    font-size: 18px;
 }

 .titleLocation ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    list-style-type: none;
    column-gap: 10px;
    color: white;
    font-size: 14px;
    font-weight: normal;
    margin-left: -42px;
 
}


.titleLocation li {
    color: white;
    background-color: var(--main);
    min-width: 115px;
    text-align: center;
    font-size: 14px;
    border-radius: 9px;
    line-height: 22px;
    padding: 3px 15px;
}

.hostStars {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-top: 25px;
}
 .host {
    display: flex;
    align-items: center;
    column-gap: 10px;
    max-width: 167px;
    min-width: 180px;
    font-size: 18px;
}
.host img {
    width: 64px;
    height: 64px;
    border-radius: 50%;
}
 
.stars{
    display: flex;
    justify-content: space-around;
}
.accommodationCollapse {
    display: flex;
    column-gap: 76px;
    margin-bottom: 50px;
    align-items: flex-start;
}

@media screen and (max-width: 992px) {
   
    .titleLocationHostStars {
        flex-direction: column;
        margin-bottom: 13px;
    }
        
     .host {
        font-size: 12px;
        min-width: 0;
    }
        
    .accommodationCollapse {
        flex-direction: column;
        row-gap: 19px;
        margin-bottom: 27px;
    }
}

@media screen and (max-width: 768px) {
    .accommodationContent {
        width: 100%;
        margin: 27px auto 0 auto;
    }

     .titleLocationHostStars {
        flex-direction: column;
        margin-top: 70px;
    }
    .titleLocation h1{
        font-size: 18px;
        padding-left: 0;
    }

    .titleLocation ul{
        margin-left: -40px;
    }
               
    .titleLocation p {
        font-size: 14px;
    }
    .titleLocation li {
        font-size: 10px;
        min-width: 84px;
    }
    .hostStars {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }
    .hostStars img {
        width: 18px;
        height: 18px;
    }
    .host {
        font-size: 12px;
         min-width: 0;
    }
    .collapsible-header{
        margin-right: -9px;
    }
    
    .accommodationCollapse {
    margin-bottom: 0;
    margin-left: 0;
    }

    
}